body {
    display: none;
}

nav {
    font-size: 24px;
}

.btn1 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10%;
}

.sigl{
    margin-left: 5%;
    
}

#single {
    margin-left: 5%;
    width: 50%;
}

.rules {
    margin-left: 40%;
    margin-top: 50px;
}

.multyp {
    margin-top: -73px;
    margin-left: 50%;
    width: 50%;
}

.card-body {
    width: 20%;
    margin-left: -1%;
}

#multy {
    margin-left: 50%;
}

.collapse {
    width: 30%;
}

#single {
    width: 90%;
}