body {
	display: none;
}

nav {
	font-size: 24px;
}

.btn1 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top: 500px;
}

.collapse {
    width: 30%;
    position: absolute;
}

.single-rules {
    margin-left: 10%;
}

.single-btn {
    margin-left: 25%;

}

.multip-btn {
    margin-left: 30%;
}

.multi-rules {
    margin-left: 40%;
}

.rules {
    text-align: center;
}
